{
  "mcpServers": {
    "taibai-server": {
      "command": "python",
      "args": [
        "mcp-servers/taibai_server.py"
      ],
      "env": {}
    },
    "wanglingguan-server": {
      "command": "python",
      "args": [
        "mcp-servers/wanglingguan_server.py"
      ],
      "env": {}
    },
    "tianyan-server": {
      "command": "python",
      "args": [
        "mcp-servers/tianyan_server.py"
      ],
      "env": {}
    },
    "yindan-server": {
      "command": "python",
      "args": [
        "mcp-servers/auto_server.py"
      ],
      "env": {}
    },
    "sanjian-server": {
      "command": "python",
      "args": [
        "mcp-servers/auto_server.py"
      ],
      "env": {}
    },
    "kaishan-server": {
      "command": "python",
      "args": [
        "mcp-servers/auto_server.py"
      ],
      "env": {}
    },
    "bajiu-server": {
      "command": "python",
      "args": [
        "mcp-servers/auto_server.py"
      ],
      "env": {}
    },
    "taie-server": {
      "command": "python",
      "args": [
        "mcp-servers/auto_server.py"
      ],
      "env": {}
    }
  }
}
